<ul class="nav nav-tabs">
	<li>{{link-to "Details" "artists.artist.details" model}}</li>
	<li>{{link-to "Songs" "artists.artist.songs" model}}</li>
</ul>
<div class="artist-info">
	{{liquid-outlet}}
</div>